* {
    font-family: 'Azonix';
    margin: 0;
    padding: 0;
}

.left {
    overflow: hidden;
    position: absolute;
    right: 40%;
    height: 100%;
}

.left video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.right {
    width: 40%;
    position: absolute;
    left: 60%;
    align-items: center;
    justify-content: center;
}

.login {
    left: 20%;
    right: 20%;
    margin-top: 40%;
    width: 60%;
    position: absolute;
}

.login p {
    text-align: center;
}

.login h2 {
    font-size: 2em;
    margin-bottom: 1rem;
    text-align: center;
}

.login input {
    outline: none;
}

.login input:focus {
    border: solid 2px #111;
}

.login input, .login button {
    border: none;
    margin: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 30px;
}

.login button {
    text-align: center;
    background-color: rgb(223, 162, 31);
    color: #fff;
    cursor: pointer;
}
